.like-button-start {
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  padding: 11px 8px;
}

.like-button-clicked {
  border: none;
  cursor: pointer;
  background:  rgb(249, 178, 211);
  border-radius: 50%;
  padding: 11px 8px;
}

.like-button-start:hover {
  background: rgb(255, 225, 239);
}